.profile{
    display: flex;
    max-width: 880px;
    margin: 40px auto 50px;
}

.profile__picture{
 border-radius: 50%;
 width: 120px;
 height: 120px;
}

.profile__info{
    display: flex ;
        justify-content: center;
        padding: 0 0 0 30px;
        flex-direction: column;
}

.profile__detail{
    display: flex;
}

.profile__info-name{
    font-family: "inter";
    font-size: 42px;
    font-weight: 400;
    margin: 0;
    height: 39px;
    width: 373px;
}

.profile__info-profession{
    font-family: "inter";
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    width: 415px;
    height: 22px;
}

.profile__info_button-edit{
    display: flex ;
        max-width: 24px;
        height: 24px;
        background-color: transparent;
        border: transparent;
        cursor: pointer;
        margin: 15px 0 16px 18px;
        justify-content: flex-end;
        padding: 0;
        

        
}
.profile__info_button-edit:hover{
opacity: 60%;
}

.profile__button-add{
    background-color: transparent;
    border: 2px solid white;
    border-radius: 2% ;
    padding: 0;
    margin: 13px 0 14px 165px;
    height: 50px;
    width: 150px;
    cursor: pointer;
}

.profile__button-add:hover{
    opacity: 60%;
}

@media screen and (max-width: 910px){
    .profile{
        margin: auto;
        padding: 25px;
    }

    .profile__info{
        padding: 0 0 0 15px;
    }

    .profile__button-add{
        max-width: 150px;
        height: 50px;
        margin: 30px 0 0 10px;
    }
}

@media screen and (max-width: 750px) {
    .profile{
        max-width: 282px;
        display: flex;
        padding: 20px;
        flex-direction: column;
    }

    .profile__picture{
        margin: 42px auto 30px;

    }

    .profile__info{
        max-width: 282px;
        width: 100%;
        margin: 0 auto 0 auto;
        align-items: flex-start;
    }

    .profile__detail{
display: flex;
    }

    .profile__info-name{
        text-align: justify;
        display: flex;
        font-size: 25px;
        width: 100%;
        align-items: center;

    }
   .profile__info-profession{
    font-size: 18px;
    width: 100%;
    display: flex;
    justify-content: center;
   }

   .profile__info_button-edit{

    margin: 10px 0 12px 16px;
   }
    
    .profile__button-add{
        width: 100%;
        max-width: 282px;
        height: 50px;
        margin: 30px auto 10px;
    }
}

